*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body{
  height: 100vh;
  width: 100%;
}

/*header css starts*/

.header_area {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 0;
    padding: 0 4%;
}

.menu_area .navbar-brand {
    font-size: 72px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    line-height: 1;
    padding: 0;
}


.menu_area .navbar-brand:hover,
.menu_area .navbar-brand:focus {
    color: #fff;
}


.menu_area {
    position: relative;
    z-index: 2;
}

.menu_area #nav .nav-link {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    padding: 35px 15px;
}


.menu_area nav ul li > a:hover {
    color: #fb397d;
}

.sing-up-button {
    text-align: right;
}

.sing-up-button > a {
    color: #000;
    font-weight: 500;
    display: inline-block;
    border: 2px solid #a883e9;
    height: 50px;
    min-width: 178px;
    line-height: 46px;
    text-align: center;
    border-radius: 24px 24px 24px 0px;
}

.sing-up-button > a:hover {
    background: #004D99;
    color: #fff;
    border-color: transparent;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

/* stcicky css */

.header_area.sticky {
    background-color: #884bdf!important;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 99;
}

.header_area.sticky .menu_area .navbar-brand {
    font-size: 50px;
}

.header_area.sticky .menu_area #nav .nav-link {
    padding: 23px 15px;
}
.header_area.sticky .navbar {
    padding: 0;
}




/*carusol css starts*/
#slider{
  width: 100%;

}

.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  bottom: initial!important;
}

.carousel-caption h1{
  color: #004D99;
  font-size: 40px;
}
.carousel-caption p{
  color: #001b1b;
  font-size: 20px;
}

/*About css starts*/
.about-section{
    background: url(images/programme.jpg) no-repeat left;
    background-size: 80%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
    margin-top: 130px;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}
/*About css ends*/

li {
    list-style: none;
}

p {
    color: #726a84;
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
}

.heading-text > p {
    font-size: 16px;
}

.section-heading > h2 {
    font-weight: 300;
    color: #5b32b4;
    font-size: 48px;
    margin: 0;
}


.section-heading {
    margin-bottom: 60px;
}

.line-shape-white,
.line-shape {
    width: 80px;
    height: 2px;
    background-color: #fb397d;
    margin-top: 15px;
}

.line-shape {
    margin-left: calc(50% - 40px);
}

.table {
    display: table;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 2;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}
/* --------------------------
:: 2.0 Header Area CSS
-------------------------- */

.header_area {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 0;
    padding: 0 4%;
}

.menu_area .navbar-brand {
    font-size: 72px;
    font-weight: 700;
    color: #004D99!important;
    margin: 0;
    line-height: 1;
    padding: 0;
}


.menu_area .navbar-brand:hover,
.menu_area .navbar-brand:focus {
    color: #fff;
}


.menu_area {
    position: relative;
    z-index: 2;
}

.menu_area #nav .nav-link {
    color: #000;
    display: block;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    padding: 35px 15px;
}


.menu_area nav ul li > a:hover {
    color: #fb397d;
}


/* stcicky css */

.header_area.sticky {
    background-color: #884bdf;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 99;
}

.header_area.sticky .menu_area .navbar-brand {
    font-size: 50px;
}

.header_area.sticky .menu_area #nav .nav-link {
    padding: 23px 15px;
}
.header_area.sticky .navbar {
    padding: 0;
}

.blog-posts{
  width: min(1500px, 100%);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
}

.post{
  width: calc(33% - 10px);
  overflow: hidden;
}

.post-img{
  width: 100%;
  border-radius: 6px;
  transition: .3s linear;
}

.post-content{
  background-color: #fff;
  margin: 0 20px;
  padding: 30px;
  border-radius: 6px;
  transform: translateY(-60px);
  transition: .3s linear;
}

.post-content h3{
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.date{
  font-size: 15px;
  font-style: italic;
  color: #e77f67;
}

.post:hover .post-img{
  transform: translateY(20px);
}

.post:hover .post-content{
  transform: translateY(-80px);
}


/*team css starts*/
.team-section{
    height: 100vh;
    display: flex;
    margin-top: 130px;
}

.person{
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: .6s;
}

.person:hover{
    flex: 3;
}

.person-pic{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    filter: grayscale(80%);
    transition: .3s;
}

.person:hover .person-pic{
    filter: grayscale(0);
}

.person-info{
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: .2s;
}

.person:hover .person-info{
    opacity: 1;
    bottom: 60px;
    transition-delay: .6s;
}

.person-info h2{
    font-size: 20px;
    color: #fff;
}

.person-info p{
    color: #b8e994;
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 20px;
}

.socialmedia a{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #333;
    background-color: #b8e994;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 6px;
    font-size: 18px;
    transition: .3s linear;
}

.socialmedia a:hover{
    color: #b8e994;
    background-color: transparent;
    transform: scale(1.5);
}
/*team css ends*/



/*Contact Us css starts*/
.contact-container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  margin-top: 130px;
}

/*.contact-container:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("img/bg.jpg") no-repeat center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}*/
.contact-box{
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
  background: url("images/screen.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

.right{
  padding: 25px 40px;
}

h2{
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

/*h2:after{
  content: '';
    position: absolute;
    left: 20%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 50px;
    border-radius: 2px;
    background-color: #004d99;
}*/

.field{
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
}

.field:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

textarea{
  min-height: 150px;
}

.btnc{
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #004d99 !important;
  color: #fff!important;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
}

.btnc:hover{
    background-color: #7bffff!important;
    color: #000!important;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

/*contact us css ends*/
/*pricing css starts*/

.pricing-container{
  min-height: 80vh;
  max-width: 1500px;
  margin-top: 130px;
/*  margin-left: auto;
  margin-right: auto;*/
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  background-color: #d5d7e9;
}

.pricing-table{
  background: #f1f1f1;
  flex: 1;
  margin: 10px;
  text-transform: uppercase;
}

.pricing-header{
  color: #fff;
  position: relative;
  margin-bottom: 20px;
}

.price{
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.price span{
  font-size: 30px;
}

.title{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
  width: 80%;
  max-width: 360px;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
}

.pricing-list{
  padding: 10px 20px;
}

.pricing-list li{
  margin: 8px 0;
  font-size: 14px;
  color: #344;
  text-align: center;
}

.border{
  width: 80px;
  height: 1px;
  background: #ddd;
  margin: auto;
}

.pricing-table a{
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
  border: 1px solid;
  max-width: 360px;
  transition: .2s linear;
}
.pricing-table a:hover{
  border-radius: 30px;
}
.table1 .pricing-header{
  background: #2980b9;
}
.table2 .pricing-header{
  background: #2c3e50;
}
.table3 .pricing-header{
  background: #c0392b;
}

.table1 .title{
  background-image: linear-gradient(125deg,#3498db,#9b59b6);
}
.table2 .title{
  background-image: linear-gradient(125deg,#34495e,#95a5a6);
}
.table3 .title{
  background-image: linear-gradient(125deg,#e74c3c,#f39c12);
}

.table1 a{
  color: #2980b9;
}
.table2 a{
  color: #2c3e50;
}
.table3 a{
  color: #c0392b;
}

.table1 a:hover{
  background: #2980b9;
  color: #fff;
}
.table2 a:hover{
  background: #2c3e50;
  color: #fff;
}
.table3 a:hover{
  background: #c0392b;
  color: #fff;
}
/*pricing css ends*/

.direction-container{
  min-height: 80vh;
  max-width: 1500px;
  margin-top: 130px;
}
.direction-container iframe{
  width:600px; 
  height:450px;
  border:0;
  margin-top: 40px;
}

.inner-direction{
    width: 50%;
    float: left;
    background-color: #fdfdfd;
    padding: 80px;  
}
.inner-direction p{
  font-size: 25px;
}

/**********************registration starts***********/

.contactus{
  width: 100%;
  height: 100vh;
  padding: 80px 0;
  position: relative;
  margin-top: 130px;
}

.contactus:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #d5d7e9;
  z-index: -1;
}

.from-button button{
  border-radius: 100px;
  margin: 0 250px;
  padding: 12px 35px;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.9;
  text-align: center;
  background: #004D99;
} 

.from-button button:hover{
  color: #fff;
}

::placeholder{
  font-size: 0.85;
}

/**********************registration ends***********/

/*footer css starts*/
footer{
  background: #f1f1f1;
  padding: 90px 0;
}

.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo{
  width: 180px;
}

.social-media{
  margin: 20px 0;
}

.social-media a{
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}

.social-media a:hover{
  color: #004d99;
}

.right-col h1{
  font-size: 26px;
}

.border{
  width: 100px;
  height: 4px;
  margin-left: 0px;
  background: #004d99;
}

.newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.txtb{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.btnf{
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #004D99;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}

.btnf:hover{
  opacity: .7;
}

.page-content{
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*footer css ends*/

@media screen and (max-width: 1200px){
  .blog-posts{
    justify-content: center;
  }
  .post{
    width: min(600px, 100%);
  }
  .pricing-table{
    flex: 100%;
  }
  .inner-container{
    padding: 80px;
  }  
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
    .contact{
        background-size: 100%;
        padding: 100px 40px;    
  }
  .contact-box{
    grid-template-columns: 1fr;
    width: 100%;

  }
  .left{
    height: 360px;
  }  
  .contact-container{
    padding: 20px 20px;
  } 
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
  .btnf{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }

  .inner-direction{
   width: 100%;
   padding: 20px;
  }
  .carousel-caption h1{
    font-size: 15px;
  }
  .carousel-caption p{
    font-size: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .app_screenshots_slides {
        padding: 0 4%;
    }
    .header_area.sticky .menu_area #nav .nav-link {
        padding: 23px 7.5px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header_area {
        padding: 0;
    }
    .menu_area .navbar-brand {
        font-size: 48px;
    }
    .header_area.sticky {
        height: 50px;
    }
    .header_area .menu_area #nav .nav-link,
    .header_area.sticky .menu_area #nav .nav-link {
        padding: 7.5px 15px;
    }
    #techz-navbar {
        padding: 30px;
        border-radius: 3px;
        background-color: #5b32b4;
        text-align: left;
    }
    .sing-up-button {
        margin-top: 30px;
        text-align: left;
    }
    .app_screenshots_slides {
        padding: 0;
    }
    .clients-feedback-area .slick-slide.slick-current img {
        width: 90px !important;
        height: 90px !important;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .header_area {
        padding: 0;
    }
    .menu_area .navbar-brand {
        font-size: 20px;
    }
    .header_area.sticky {
        height: 50px;
    }
    .header_area .menu_area #nav .nav-link,
    .header_area.sticky .menu_area #nav .nav-link {
        padding: 5px 15px;
    }
    #techz-navbar {
        padding: 24px;
        border-radius: 3px;
        background-color: #5b32b4;
        text-align: left;
    }
    .sing-up-button {
        margin-top: 30px;
        text-align: left;
    }
    .contactus{
      width: 100%;
      height: 120vh; 
    }